<p>generator works!</p>

<div class="card">
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column is-half left-column">
          <span class="input-box-label">CHARACTER</span>
          <input
            class="input is-normal input-box"
            type="text"
            placeholder="character"
          />
        </div>
        <div class="column is-half right-column">
          <button
            (click)="toggleStatus()"
            class="button"
            [ngClass]="{
              'is-success': !status,
              'is-danger': status
            }"
          >
            {{ status ? "STOP GENERATE 2D GRID" : "START GENERATE 2D GRID" }}
          </button>
        </div>
      </div>

      <div
        *ngFor="let char of matrixChars; let i = index"
        class="matrix-container"
      >
        <div class="matrix-val" [ngStyle]="{ width: 100 / matrixWidth + '%' }">
          {{ char }}
        </div>
      </div>

      <app-code-box class="code-box" [status]="status">{{ code }}</app-code-box>
    </div>
  </div>
</div>
