<p>payments works!</p>
<div class="card">
  <div class="card-content">
    <div class="content">
      <app-code-box class="code-box" [status]="status">{{ code }}</app-code-box>
      <span class="input-box-label">PAYMENT</span>
      <input
        class="input is-normal input-box"
        type="text"
        placeholder="alphanumeric"
      />
      <span class="input-box-label" style="padding-left: 20px">AMOUNT</span>
      <input
        class="input is-normal input-box"
        type="text"
        placeholder="numeric"
      />
    </div>
  </div>
</div>
