.input-box-label {
  line-height: 40px;
  font-size: 15px;
  padding-right: 10px;
  font-weight: bold;
}

.notification {
  margin-top: 90px;
}

.destroy-codes {
  float: right;
}

.input-box {
  width: 10%;
  text-align: center;
}

.code-box {
  padding-bottom: 50px;
}
